.bills-services-child {
  width: 375px;
  height: 812px;
  position: relative;
  border-radius: var(--br-11xl);
  background-color: var(--color-white);
  display: none;
  max-width: 100%;
}
.icon-avatar5 {
  height: 32px;
  width: 32px;
  position: relative;
  display: none;
}
.base-icon5 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-royalblue-200);
}
.arrows-chevron-left6 {
  position: absolute;
  height: 62.5%;
  width: 62.5%;
  top: 18.75%;
  right: 18.75%;
  bottom: 18.75%;
  left: 18.75%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 1;
}
.icon-back5 {
  height: 32px;
  width: 32px;
  position: relative;
}
.left-side-icons5 {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-base) var(--padding-5xs);
  cursor: pointer;
  z-index: 1;
}
.bills-services1 {
  text-decoration: none;
  position: relative;
  line-height: 16px;
  font-weight: 500;
  color: inherit;
  display: inline-block;
  min-width: 117px;
  white-space: nowrap;
  z-index: 1;
}
.bills-services-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) 0 0;
}
.bills-services-inner,
.left-side-icons-parent1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.left-side-icons-parent1 {
  width: 238px;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.bills-services-inner {
  align-self: stretch;
  justify-content: flex-start;
  padding: 0 0 var(--padding-2xs);
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.frame-child51 {
  height: 40px;
  width: 327px;
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.group-icon42,
.search-bills {
  height: 15px;
  width: 15px;
  position: relative;
  z-index: 2;
}
.search-bills {
  width: 150px;
  border: 0;
  outline: 0;
  font-family: var(--font-inter);
  font-size: var(--font-size-sm);
  background-color: transparent;
  height: 16px;
  line-height: 16px;
  color: var(--color-gray-100);
  text-align: left;
  display: inline-block;
  padding: 0;
}
.frame-child52,
.rectangle-parent18 {
  width: 327px;
  border-radius: var(--br-3xs);
  box-sizing: border-box;
  max-width: 100%;
}
.rectangle-parent18 {
  background-color: var(--color-white);
  border: 1px solid var(--color-gainsboro-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-mini);
  gap: var(--gap-mini);
  z-index: 1;
}
.frame-child52 {
  height: 64px;
  position: relative;
  border-bottom: 2px solid var(--color-gray-400);
  display: none;
}
.frame-child53,
.internet-services {
  align-self: stretch;
  position: relative;
  z-index: 2;
}
.frame-child53 {
  width: 21.2px;
  max-height: 100%;
  min-height: 15px;
}
.internet-services {
  line-height: 11px;
  font-weight: 500;
}
.frame-parent19,
.internet-services-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.internet-services-wrapper {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-12xs) 0 0;
}
.frame-parent19 {
  width: 147px;
  flex-direction: row;
  gap: 7.8px;
}
.group-icon43 {
  width: 5px;
  height: 10px;
  position: relative;
  z-index: 2;
}
.group-wrapper9,
.rectangle-parent19 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
}
.rectangle-parent19 {
  align-self: stretch;
  border-radius: var(--br-3xs);
  border-bottom: 2px solid var(--color-gray-400);
  box-sizing: border-box;
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-6xl) var(--padding-12xs) var(--padding-2xl) 0;
  max-width: 100%;
  gap: var(--gap-xl);
  z-index: 1;
}
.group2 {
  margin: 0;
  height: 17px;
  width: 18px;
  position: relative;
  z-index: 2;
}
.cable-tv-wrapper {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
}
.cable-tv-wrapper,
.group-parent5,
.group-wrapper10 {
  display: flex;
  align-items: flex-start;
}
.group-parent5 {
  width: 145px;
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-4xs);
}
.group-wrapper10 {
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 0 var(--padding-10xs);
}
.rectangle-parent20 {
  align-self: stretch;
  border-radius: var(--br-3xs);
  border-bottom: 2px solid var(--color-gray-400);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: var(--padding-4xl) var(--padding-12xs) var(--padding-2xl)
    var(--padding-11xs);
  max-width: 100%;
  gap: var(--gap-xl);
  z-index: 1;
}
.group-icon45 {
  height: 19px;
  width: 13px;
  position: relative;
  z-index: 2;
}
.mobile-recharge-wrapper {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
}
.group-parent6,
.group-wrapper11,
.mobile-recharge-wrapper {
  display: flex;
  align-items: flex-start;
}
.group-parent6 {
  width: 142px;
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-2xs);
}
.group-wrapper11 {
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 0 var(--padding-9xs);
}
.rectangle-parent21 {
  align-self: stretch;
  border-radius: var(--br-3xs);
  border-bottom: 2px solid var(--color-gray-400);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: var(--padding-3xl) var(--padding-12xs) var(--padding-xl)
    var(--padding-8xs);
  max-width: 100%;
  gap: var(--gap-xl);
  z-index: 1;
}
.electricity,
.group-icon47 {
  position: relative;
  flex-shrink: 0;
  z-index: 3;
}
.group-icon47 {
  height: 17.9px;
  width: 13.6px;
}
.electricity {
  align-self: stretch;
  line-height: 11px;
  font-weight: 500;
}
.electricity-wrapper,
.group-parent7 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.electricity-wrapper {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-10xs) 0 0;
}
.group-parent7 {
  width: 142px;
  flex-direction: row;
  gap: 10.4px;
}
.group-icon48 {
  width: 5px;
  height: 10px;
  position: relative;
  z-index: 3;
}
.group-wrapper12 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 3.9px;
}
.rectangle-parent22 {
  align-self: stretch;
  border-radius: var(--br-3xs);
  border-bottom: 2px solid var(--color-gray-400);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: var(--padding-4xl) var(--padding-12xs) var(--padding-2xl)
    var(--padding-8xs);
  max-width: 100%;
  gap: var(--gap-xl);
  z-index: 2;
}
.group-icon49 {
  align-self: stretch;
  width: 22.9px;
  position: relative;
  max-height: 100%;
  min-height: 16px;
  z-index: 2;
}
.group-parent8,
.rectangle-parent23,
.title {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.group-parent8 {
  width: 147.4px;
  flex-direction: row;
  gap: var(--gap-6xs-5);
}
.rectangle-parent23,
.title {
  flex-direction: column;
  padding: var(--padding-10xs) 0 0;
}
.rectangle-parent23 {
  align-self: stretch;
  border-radius: var(--br-3xs);
  border-bottom: 2px solid var(--color-gray-400);
  box-sizing: border-box;
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-5xl) var(--padding-12xs) var(--padding-2xl) 0;
  max-width: 100%;
  gap: var(--gap-xl);
  z-index: 1;
}
.vector-icon1 {
  height: 20px;
  width: 21px;
  position: relative;
  object-fit: contain;
  z-index: 3;
}
.travel-tours {
  align-self: stretch;
  position: relative;
  line-height: 11px;
  font-weight: 500;
  z-index: 3;
}
.second-category-row,
.vector-group {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.vector-group {
  width: 146px;
  flex-direction: row;
  gap: var(--gap-6xs);
}
.second-category-row {
  flex-direction: column;
  padding: var(--padding-8xs) 0 0;
}
.frame-parent20,
.rectangle-parent24 {
  align-self: stretch;
  display: flex;
  max-width: 100%;
}
.rectangle-parent24 {
  border-radius: var(--br-3xs);
  border-bottom: 2px solid var(--color-gray-400);
  box-sizing: border-box;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--padding-3xl) var(--padding-12xs) var(--padding-lgi);
  gap: var(--gap-xl);
  z-index: 2;
}
.frame-parent20 {
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  text-align: left;
  font-size: var(--font-size-smi);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.group-icon52 {
  height: 17px;
  width: 16px;
  position: relative;
  min-height: 17px;
  z-index: 2;
}
.group-parent9 {
  width: 144px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
}
.rectangle-parent25 {
  align-self: stretch;
  border-radius: var(--br-3xs);
  border-bottom: 2px solid var(--color-gray-400);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: var(--padding-4xl) var(--padding-12xs) var(--padding-2xl)
    var(--padding-10xs);
  max-width: 100%;
  gap: var(--gap-xl);
  z-index: 1;
}
.group-icon54 {
  height: 18px;
  width: 18.2px;
  position: relative;
  z-index: 3;
}
.group-parent10,
.rectangle-parent26 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.group-parent10 {
  width: 145px;
  justify-content: flex-start;
  gap: 8.8px;
}
.rectangle-parent26 {
  align-self: stretch;
  border-radius: var(--br-3xs);
  border-bottom: 2px solid var(--color-gray-400);
  box-sizing: border-box;
  justify-content: space-between;
  padding: var(--padding-4xl) var(--padding-12xs) var(--padding-xl)
    var(--padding-11xs);
  max-width: 100%;
  gap: var(--gap-xl);
  z-index: 2;
}
.group-icon56,
.insurance {
  position: relative;
  z-index: 4;
}
.group-icon56 {
  height: 18px;
  width: 15.9px;
}
.insurance {
  align-self: stretch;
  line-height: 11px;
  font-weight: 500;
}
.group-parent11 {
  width: 144px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10.1px;
}
.group-icon57 {
  width: 5px;
  height: 10px;
  position: relative;
  z-index: 4;
}
.fourth-category-row,
.rectangle-parent27 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
}
.rectangle-parent27 {
  align-self: stretch;
  border-radius: var(--br-3xs);
  border-bottom: 2px solid var(--color-gray-400);
  box-sizing: border-box;
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-4xl) var(--padding-12xs) var(--padding-xl)
    var(--padding-10xs);
  max-width: 100%;
  gap: var(--gap-xl);
  z-index: 3;
}
.bills-services,
.frame-parent18 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  box-sizing: border-box;
}
.frame-parent18 {
  align-self: stretch;
  padding: 0 0 0 var(--padding-base);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-smi);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.bills-services {
  width: 100%;
  position: relative;
  border-radius: var(--br-11xl);
  background-color: var(--color-white);
  overflow: hidden;
  padding: var(--padding-45xl) var(--padding-5xl) 35px var(--padding-5xs);
  gap: var(--gap-2xl);
  line-height: normal;
  letter-spacing: normal;
}
